/* .container-contact {
    display: grid;
    grid-template-columns: 3fr 2fr;

    background-color: pink;

    padding: 50px;

    grid-gap: 30px;
} */
footer.footer.fixed-bottom.bg-secondary.p-2 {
    text-align: center;
}
