.change-password {
    text-align: right;

    margin-bottom: 2rem;
}

.profile img{
    width: 61%;
}


#profile input.form-control {
    margin-bottom: 14px;
}

.profile {
    text-align: center;
}

.profile-edit-save{
  text-align: center;
}
footer{
    text-align: center;
}

.mobile{
    display: none;
}



@media only screen and (max-width: 600px) {
    .footer.fixed-bottom.bg-secondary.p-2.\.d-sm-none.\.d-md-block {
        display: none;
    }

    #profile .row {
        display: grid;
    }
    .profile img{
        width: 70%;
    }
    h2{
        text-align: center;
    }
    #save{
        display: none;
    }
    #profile .col-8.mb-2 {
        display: contents;
        padding: 2rem;
    }
    #profile {
        padding: 0 29px 0px 29px;
        margin-bottom: 30px;
    }
    .change-password{
        display: none;
    }
    .profile .btn.btn-info.mt-2 {
        margin-bottom: 9px;
    }
    .mobile{
        display: block;
        text-align: center;
    }
    .navbar-toggler:not(:disabled):not(.disabled){
        display: none;
    }
    .navbar.navbar-expand-lg div{
        text-align: center;
        width: 100%;
    }
    
  }
