<app-managerheader></app-managerheader>
<div class="m-5">
  <div class="row  justify-content-between align-items-center">
    <div class="col-4 pt-1">
      <label class="mr-sm-2" for="inlineFormCustomSelect">Workplaces</label>
      <div class="dropdown">
        <label class="mr-sm-2" for="inlineFormCustomSelect"></label>
        <select class="custom-select"  id="workspaceSelector">
          <option ng-if="selectedWorkspace.id != workspace.id" ng-repeat="workspace in workspaces" ng-click="selectWorkspace(workspace)">{{workspace.workspace_name}}</option>
          <option selected="selected" ng-if="selectedWorkspace.id == workspace.id" ng-repeat="workspace in workspaces" ng-click="selectWorkspace(workspace)">{{workspace.workspace_name}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="week">
    <a class="blog-header-logo text-dark font-weight-bold" href="#">{{week.week_number}}&#176; week of {{week.year_number}}</a>
    <br>
    <i class="fas fa-caret-left" ng-click="previousWeek()"></i>
    <a class="blog-header-logo text-dark font-weight-bold" href="#">{{week.firstDay}} - {{week.lastDay}}</a>
    <i class="fas fa-caret-right" ng-click="nextWeek()"></i>
  </div>
  <div class="container">
    <div class="loading" ng-hide="loading">
      <img class="image" src="FRONT-END/Images/CuckooLogo.png" alt="">
    </div>
    <h1 class="display-4 text-center">Payments</h1>
    <div class="row">
      <div class=" ">
      <div id="piechart"></div>
      </div>
      <div class=" ">
      <div id="barchart"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <h1 class="display-4 text-center">Hours</h1>
    <div class="row">
      <div class="">
      <div id="piechart1"></div>
      </div>
      <div class="">
      <div id="barchart1"></div>
      </div>
    </div>
  </div>
</div>
