<div class="container">
    <div class="row  justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <label class="mr-sm-2" for="inlineFormCustomSelect">Workplaces</label>
        <select class="custom-select mr-sm-2"  id="workspaceSelector">
          <option ng-if="selectedWorkspace.id != workspace.id" ng-repeat="workspace in workspaces" ng-click="selectWorkspace(workspace)">{{workspace.workspace_name}}</option>
          <option selected="selected" ng-if="selectedWorkspace.id == workspace.id" ng-repeat="workspace in workspaces" ng-click="selectWorkspace(workspace)">{{workspace.workspace_name}}</option>
        </select>
      </div>
      <div class="col-4 pt-1">
        <div class="dropdown">
          <button class="btn btn-outline-secondary  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Position
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>
      <div class="col-4 pt-1">
        <button type="button" class="btn btn-md " >Add new Employee</button>
      </div>
    </div>
    </br>

    <h1 class="display-4">Employees</h1>
    <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">NAME</th>
        <th scope="col">POSITION</th>
        <th scope="col">PHONE</th>
        <th scope="col">E-MAIL</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="employee in employees">
        <td class="profile"><img src="FRONT-END/Images/home-1.jpg" alt="">{{employee.first_name}} {{employee.last_name}}</td>
        <td></td>
        <td></td>
        <td>{{employee.email}}</td>
        <td><img src="FRONT-END/Images/Icons/cancel.png" alt="" ng-click="removeEmployee(employee)"></td>
        <td><img src="FRONT-END/Images/Icons/edit.png" alt=""></td>
      </tr>
    </tbody>
  </table>
<div class="text-center">
<button type="button" class="btn btn-lg btn-outline-secondary" ng-click ="AddEmployeeClick()">Add new Employee</button>

</div></br></br>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" id="addEmplyeeModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" ng-model="addEmployeeTitle">Add Employee</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="" action="index.html" method="post">
          <input class="form-control" type="text" placeholder="First Name" ng-model='employee.firstname'>
          <input class="form-control" type="text" placeholder="Last Name" ng-model='employee.lastname'>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" ng-model='employee.email'>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click=AddEmployee()>Save changes</button>
      </div>
    </div>
  </div>
</div>
