
  <div class="container">
<h1>LOG IN</h1>

    <form class="form-signin">
      <!-- <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1> -->
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus ng-model = "user.email">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required ng-model = "user.password">
      <div class="checkbox">
        <!-- <input type="checkbox" value="remember-me">  --> <a href="#!#">Forgot Your Password?</a>
      </div>
      <div class="checkbox">
        <input type="checkbox" ng-model="user.manager">Log as Manager
      </div>
      <div class="sign-in-btn">
        <button class="btn btn-sm " type="submit" ng-click="login()">LOG IN</button>

      </div>
    </form>

    <div class="sign-in-google">
        <span>OR</span>
    </div>



    <div class="btn white darken-4 col s10 m4">
          <div class="google">
         <a href="#!#">LOGIN WITH GOOGLE ACCOUNT</a>
        </div>

    </div>

    <div class="modal" tabindex="-1" role="dialog" id="signin_alert">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{signup_alert.title}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>{{signup_alert.info}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>
