<div class="container">
  <div class="row  justify-content-between align-items-center">
    <div class="col-4 pt-1">
      <label class="mr-sm-2" for="inlineFormCustomSelect">Workplaces</label>
      <select class="custom-select mr-sm-2"  id="workspaceSelector">
        <option ng-if="selectedWorkspace.id != workspace.id" ng-repeat="workspace in workspaces" ng-click="selectWorkspace(workspace)">{{workspace.workspace_name}}</option>
        <option selected="selected" ng-if="selectedWorkspace.id == workspace.id" ng-repeat="workspace in workspaces" ng-click="selectWorkspace(workspace)">{{workspace.workspace_name}}</option>
      </select>
    </div>
    <div class="col-4 pt-1">
    <button type="button" class="btn btn-md" >Add new Position</button>
      </div>
  </div>
  </br>
  <h1 class="display-4">Position</h1>
  <table class="table table-bordered">
    <tbody>
      <tr ng-repeat="position in positions">
        <td>{{ position.position_name }}</td>
        <td><img src="FRONT-END/Images/Icons/delete.png" alt=""  ng-click="removePosition(position)"></td>
        <td><img src="FRONT-END/Images/Icons/edit.png" alt=""></td>
      </tr>
    </tbody>
  </table>
  <div class="text-center">
  <button type="button" class="btn btn-md" >Add new Position </button>
  </div>
  </br>
  </br>
</div>
