<div class="container m-5">
    <div class="row  justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <label class="mr-sm-2" for="inlineFormCustomSelect">Workplaces</label>
        <select class="custom-select mr-sm-2"  id="workspaceSelector">
          <option ng-if="selectedWorkspace.id != workspace.id" ng-repeat="workspace in workspaces" ng-click="selectWorkspace(workspace)">{{workspace.workspace_name}}</option>
          <option selected="selected" ng-if="selectedWorkspace.id == workspace.id" ng-repeat="workspace in workspaces" ng-click="selectWorkspace(workspace)">{{workspace.workspace_name}}</option>
        </select>
      </div>

      <button type="button" class="btn request">Make A Request </button>

  </div>

  <p class="font-weight-bold lead">PENDING REQUESTS</p>

  <table class="table mb-5">

      <tbody>
        <tr>
          <!-- <th scope="row">1</th> -->
          <td class="profile"><img src="FRONT-END/Images/home-1.jpg" alt=""> Name</td>
          <td>Server</td>
          <td>Time Off Requested</td>
          <td>Jan 25</td>
          <td>8am - 2pm</td>
          <td><img src="FRONT-END/Images/Icons/comment.png" alt=""></td>
          <td><img src="FRONT-END/Images/Icons/cancel.png" alt=""></td>
          <td><img src="FRONT-END/Images/Icons/check.png" alt=""></td>
        </tr>
        <tr>
          <!-- <th scope="row">2</th> -->
          <td class="profile"><img src="FRONT-END/Images/home-1.jpg" alt=""> Name</td>
          <td>Server</td>
          <td>Time Off Requested</td>
          <td>Jan 25</td>
          <td>8am - 2pm</td>
          <td><img src="FRONT-END/Images/Icons/comment.png" alt=""></td>
          <td><img src="FRONT-END/Images/Icons/cancel.png" alt=""></td>
          <td><img src="FRONT-END/Images/Icons/check.png" alt=""></td>
        </tr>
        <tr>
          <!-- <th scope="row">2</th> -->
          <td class="profile"><img src="FRONT-END/Images/home-1.jpg" alt=""> Name</td>
          <td>Server</td>
          <td>Time Off Requested</td>
          <td>Jan 25</td>
          <td>8am - 2pm</td>
          <td><img src="FRONT-END/Images/Icons/comment.png" alt=""></td>
          <td><img src="FRONT-END/Images/Icons/cancel.png" alt=""></td>
          <td><img src="FRONT-END/Images/Icons/check.png" alt=""></td>
        </tr>
      </tbody>
    </table>

    <p class="font-weight-bold lead">REQUESTS ACCEPTED</p>

    <table class="table mb-5">

        <tbody>
          <tr>
            <td class="profile"><img src="FRONT-END/Images/home-1.jpg" alt=""> Name</td>
            <td>Server</td>
            <td>Time Off Requested</td>
            <td>Jan 25</td>
            <td>8am - 2pm</td>
            <td><img src="FRONT-END/Images/Icons/delete.png" alt=""></td>

          </tr>
          <tr>
            <td class="profile"><img src="FRONT-END/Images/home-1.jpg" alt="">Name</td>
            <td>Server</td>
            <td>Time Off Requested</td>
            <td>Jan 25</td>
            <td>8am - 2pm</td>
            <td><img src="FRONT-END/Images/Icons/delete.png" alt=""></td>

          </tr>
          <tr>
            <td class="profile"><img src="FRONT-END/Images/home-1.jpg" alt=""> Name</td>
            <td>Server</td>
            <td>Time Off Requested</td>
            <td>Jan 25</td>
            <td>8am - 2pm</td>
            <td><img src="FRONT-END/Images/Icons/delete.png" alt=""></td>

          </tr>
        </tbody>
      </table>

      <p class="font-weight-bold lead">REQUESTS DENIED</p>

      <table class="table mb-5">

          <tbody>
            <tr>
              <td class="profile"><img src="FRONT-END/Images/home-1.jpg" alt=""> Name</td>
              <td>Server</td>
              <td>Time Off Requested</td>
              <td>Jan 25</td>
              <td>8am - 2pm</td>
              <td><img src="FRONT-END/Images/Icons/delete.png" alt=""></td>

            </tr>
            <tr>
              <td class="profile"><img src="FRONT-END/Images/home-1.jpg" alt=""> Name</td>
              <td>Server</td>
              <td>Time Off Requested</td>
              <td>Jan 25</td>
              <td>8am - 2pm</td>
              <td><img src="FRONT-END/Images/Icons/delete.png" alt=""></td>

            </tr>
            <tr>
              <td class="profile"><img src="FRONT-END/Images/home-1.jpg" alt=""> Name</td>
              <td>Server</td>
              <td>Time Off Requested</td>
              <td>Jan 25</td>
              <td>8am - 2pm</td>
              <td><img src="FRONT-END/Images/Icons/delete.png" alt=""></td>

            </tr>
          </tbody>
        </table>
        <div class="center-request">

            <button type="button" class="btn request">Make A Request </button>

        </div>

      </div>
