<div class="container m-5">
    <div class="row  justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <label class="mr-sm-2" for="inlineFormCustomSelect">Workplaces</label>
        <div class="dropdown">
          <label class="mr-sm-2" for="inlineFormCustomSelect"></label>
          <select class="custom-select mr-sm-2"  id="workspaceSelector">
            <option ng-if="selectedWorkspace.id != workspace.id" ng-repeat="workspace in workspaces" ng-click="selectWorkspace(workspace)">{{workspace.workspace_name}}</option>
            <option selected="selected" ng-if="selectedWorkspace.id == workspace.id" ng-repeat="workspace in workspaces" ng-click="selectWorkspace(workspace)">{{workspace.workspace_name}}</option>
          </select>
        </div>
      </div>

      <button type="button" class="btn request">Make A Request </button>

  </div>

  <p class="font-weight-bold lead">PENDING REQUESTS</p>

  <table class="table mb-5">

      <tbody>
        <tr ng-repeat="request in requests" ng-if="request.status=='pending'">
          <td class="profile"><img src="FRONT-END/Images/home-1.jpg" alt=""> {{request.first_name}} {{request.last_name}}</td>
          <td>{{request.content}}</td>
          <td>{{request.day}}</td>
          <td>{{request.time_start}} - {{request.time_end}}</td>
          <td ng-click="rejectRequest(request)"><img src="FRONT-END/Images/Icons/cancel.png" alt=""></td>
          <td ng-click="acceptRequest(request)"><img src="FRONT-END/Images/Icons/check.png" alt=""></td>
        </tr>
        <tr>
      </tbody>
    </table>

    <p class="font-weight-bold lead">REQUESTS ACCEPTED</p>

    <table class="table mb-5">

        <tbody>
          <tr ng-repeat="request in requests" ng-if="request.status=='accepted'">
            <td class="profile"><img src="FRONT-END/Images/home-1.jpg" alt=""> {{request.first_name}} {{request.last_name}}</td>
            <td>{{request.content}}</td>
            <td>{{request.day}}</td>
            <td>{{request.time_start}} - {{request.time_end}}</td>
            <td ng-click ="removeRequest(request)"><img src="FRONT-END/Images/Icons/delete.png" alt=""></td>

          </tr>
        </tbody>
      </table>

      <p class="font-weight-bold lead">REQUESTS DENIED</p>

      <table class="table mb-5">

          <tbody>
            <tr tr ng-repeat="request in requests" ng-if="request.status=='denied'">
              <td class="profile"><img src="FRONT-END/Images/home-1.jpg" alt=""> {{request.first_name}} {{request.last_name}}</td>
              <td>{{request.content}}</td>
              <td>{{request.day}}</td>
              <td>{{request.time_start}} - {{request.time_end}}</td>
              <td ng-click ="removeRequest(request)"><img src="FRONT-END/Images/Icons/delete.png"  alt=""></td>
            </tr>
          </tbody>
        </table>
        <div class="center-request">

            <button type="button" class="btn request">Make A Request </button>

        </div>

      </div>
