<div class="container">
    <div class="row  justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <div class="dropdown">
          <label class="mr-sm-2" for="inlineFormCustomSelect"></label>
          <select class="custom-select mr-sm-2"  id="workspaceSelector">
            <option ng-if="selectedWorkspace.id != workspace.id" ng-repeat="workspace in workspaces" ng-click="selectWorkspace(workspace)">{{workspace.workspace_name}}</option>
            <option selected="selected" ng-if="selectedWorkspace.id == workspace.id" ng-repeat="workspace in workspaces" ng-click="selectWorkspace(workspace)">{{workspace.workspace_name}}</option>
          </select>
        </div>
      </div>
      <div class="col-7 d-flex justify-content-end">
        <button type="button" class="btn btn-md" ng-click ="AddEmployeeClick()">ADD NEW EMPLOYEE</button>
        <button type="button" class="btn btn-md" data-toggle="modal" data-target="#addPositionModal" >ADD NEW POSITION</button>
      </div>
    </div>

    <!-- STATIC - begin -->
    <div class="week">
      <a class="blog-header-logo text-dark font-weight-bold" href="#">{{week.week_number}}&#176; week of {{week.year_number}}</a>
      <br>
      <i class="fas fa-caret-left" ng-click="previousWeek()"></i>
      <a class="blog-header-logo text-dark font-weight-bold" href="#">{{week.firstDay}} - {{week.lastDay}}</a>
      <i class="fas fa-caret-right" ng-click="nextWeek()"></i>
    </div>
    <!-- STATIC - end -->


    <div class="positionSchedule" ng-repeat="position in tpositionsSchedules">
      <table class="table" >
      <thead>
        <tr>
          <th scope="col" class="position">{{position.position_name}}</th>
          <th scope="col">MON</th>
          <th scope="col">TUE</th>
          <th scope="col">WED</th>
          <th scope="col">THU</th>
          <th scope="col">FRI</th>
          <th scope="col">SAT</th>
          <th scope="col">SUN</th>
          <th scope="col"><img src="FRONT-END/Images/Icons/delete.png" alt=""></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="employee in position.employees">
          <td><i class="far fa-user"></i>{{employee.first_name}} {{employee.last_name}}</td>
          <!-- <td ng-repeat="shift in employee.shifts" ng-click="editShift(shift,employee,position)">{{shift.shift_start.substring(0, 2)}} - {{shift.shift_end.substring(0, 2)}}</td> -->
          <td ng-repeat="(key, value) in employee.shifts" ng-click="editShift(shift,employee,position,key)">{{value.shift_start.substring(0, 2)}} - {{value.shift_end.substring(0, 2)}}</td>
          <td><i class="fas fa-times" ng-click="removeEmployeePosition(employee, position)"></i></td>
        </tr>
      <tr>
        <td class="hours">Hours</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>
    <!-- <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#addPositionModal" data-posistion="{{position}}" >Add Employee</button> -->
    <button type="button" class="btn btn-sm btn-outline-secondary" ng-click ="openAddEmployeePosition(position)">Add Employee</button>

    <div class="text-center">
      <div class="schedule">
        <button type="button" class="btn btn-md" >MAKE A SCHEDULE</button>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button type="button" class="btn btn-md" ng-click ="AddEmployeeClick()">ADD NEW EMPLOYEE</button>
    <button type="button" class="btn btn-md" data-toggle="modal" data-target="#addPositionModal" >ADD NEW POSITION</button>
  </div>
</div>


<div class="modal fade" id="addPositionModal" tabindex="-1" role="dialog" aria-labelledby="addPositionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Position</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="position-name" class="col-form-label">Position Name:</label>
            <input type="text" class="form-control" id="position-name" ng-model="data.positionName" required>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="addPosition()">Add</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addEmployeePosition" tabindex="-1" role="dialog" aria-labelledby="addEmployeePositionLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addEmployeePositionLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="selectEmployee">Select employee:</label>
            <select class="form-control" ng-model="selectedEmployee" ng-options="employee.first_name +' '+ employee.last_name  for employee in employees">
            </select>
            <br>
            <!-- <p>{{selectedEmployee.first_name}}  {{selectedEmployee.last_name}}</p> -->
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="addEmployeePosition(selectedEmployee)">Add</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" id="addEmplyeeModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" ng-model="addEmployeeTitle">Add Employee</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="" action="index.html" method="post">
          <input class="form-control" type="text" placeholder="First Name" ng-model='employee.firstname'>
          <input class="form-control" type="text" placeholder="Last Name" ng-model='employee.lastname'>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" ng-model='employee.email'>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click=AddEmployee()>Save changes</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="addShiftEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addShiftEmployeeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Shift</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <div class="col-md-12">
              <label for="shift_start" class="col-form-label">Select a shift for the day:</label>
              <select class="custom-select form-control" id="shift_start" ng-model="editShiftData.new_shift" required>
                <option ng-repeat="shift in shifts" value="{{shift.id}}">{{shift.shift_start.substring(0, 2)}} - {{shift.shift_end.substring(0, 2)}}</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="addShift()">Add</button>
      </div>
    </div>
  </div>
</div>
