
@import url('https://fonts.googleapis.com/css?family=Roboto');
h1{
    text-align: center;
    font-size: 3rem;
}
.contact{
    font-family: 'Roboto', sans-serif;
    margin-top: 115px;
}

.form-group {
    margin-bottom: 1rem;
}

.submit {
    text-align: center;
    margin-top: 1rem;
}

.submit input{

    background-color: #F0904F;
    color: white;
}

.row {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 3rem;
}

input.form-control {
    margin-bottom: 1rem;
}

.container img{
width: 70%;
height: 85%;
object-fit: cover;
background-position: center;
border-radius: 25px;
margin-left: 100px;
}
p{
    font-style: italic;

}
body{
    display: grid;
    min-height: 100vh;
}
@media only screen and (max-width: 768px) {
    .image-contact {
        display: none;
    }
  }
