button.btn.btn-md {
    background-color: #f0904f;
    color: white;
}

.profile img{
    width:40px;
    border-radius: 50%;
    height:40px;
    object-fit: cover;

}
td img{
    width: 25px;
    margin-right: 10px;
}
td.profile {
    margin: 0;
    padding: 6px;
}

table,tr,th,td, thead{
    border:1px solid black;
}


tr:first-child td{
    border-top: 1px solid black;
  
}
/* 
table{
    text-align: center;
    vertical-align:middle;

} */

table.table th{
    border: 1px solid black;

}

