@import url('https://fonts.googleapis.com/css?family=Roboto');

.feature{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    margin-top:115px;
}

.row.featurette{
    padding: 33px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2rem;
    margin: 0;
    text-align: center;

}
.row.featurette p{
    text-align: center;
}
.row.featurette img{
    border-radius: 25px;
}
.blue{
    background-color: #ddf0f2;
}

.data{
    align-self: center;
}
.free-trial a{
    background-color: #F07422;
    color: white;
text-align: center;
}
.free-trial.mb-5.mt-2 {
    text-align: center;
}

h1{
    font-size: 2rem;
    text-align: center;
}

h2{
    font-size: 1.2rem;
    text-align: center;
}

.home p{
    font-size: 0.9rem;
}
body{
    display: grid;
    min-height: 100vh;
}
@media screen and (max-width:768px){
    .row.featurette{
        display: block;
        padding-bottom: 1rem;
    }

    

    img.d-block.w-100{
        height: 33vh !important;
    }


    
}