
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    /* background-image: url(/FRONT-END/Images/home-2.jpg), linear-gradient(to right, transparent, #aed1d4, #f3b48a);  */
   

      background: linear-gradient(to right, transparent, #f3b48a),
      url(/FRONT-END/Images/home-1.jpg);

          background-repeat: repeat, no-repeat;
          width: 100%;
          background-size: cover;


}
.free-trial{
    font-family: 'Roboto', sans-serif;
    /* background-color: rgba(255, 255, 255, 0.445); */
    background-color: white;
    margin-top: 115px;
}

.form-contact {
    margin-bottom: 26px;
}


.sign-in-google{
    text-align: center;
    border-bottom: 2px solid black;

}

.sign-in-google span{
    position: relative;
    top: .8rem;
    background-color: white;
    padding: 0 0.6rem;
}



.google{
    background-color: #dd4b39;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    width: 40%;
    font-size: 1rem;

}
.google a {
    text-decoration: none;
    color: white;
}

a{
    text-decoration: none;

}




  button.btn.btn-lg{

    background-color: #F0904F;
    color: white;
    padding: 9px;
  }

  .container {
    max-width: 610px;
    text-align: center;
}

h1 {
    text-align: center;
    margin-top: 2rem;
    font-size: 3rem;
    padding-top: 20px;
}

input{
    margin-top: 2rem;
}
.btn.white.darken-4 {
    text-align: -webkit-center;
}

.privacy {
    padding: 40px 40px 0 40px;
}

@media screen and (max-width:768px){
    .google{
        width: 60%;
    }

    .container{
        margin-top: -32px;

    }

}
