@import url('https://fonts.googleapis.com/css?family=Roboto'); 



header-directive .bg-light{
    background-color: #7AC4CC !important;
    font-family: 'Roboto', sans-serif;

}


header-directive .btn-outline-primary
{
    background-color: #f07422;
    border-color: transparent;
    color: white;
}
header-directive .navbar-expand-lg .navbar-collapse
{
    justify-items: flex-end;
}
header-directive img{
    width:200px;
    height:auto;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    margin-right: 25px;
}
i.fas.fa-bars {
    color: white;
    font-size: 35px;
}

.navbar-light .navbar-toggler{
    border: none;
    padding: 0;

}

nav.navbar.fixed-top.navbar-expand-lg.navbar{
    padding: 0;
}
.logo{
    background-color: #7AC4CC;
    width: 100%;
}
div#navbarText {
    width: 100%;
    padding: 23px;
    background-color: #7AC4CC;
}

@media screen and (max-width:990px){
    div#navbarText{
        background-color: transparent;
        padding:0px;
    }
    ul.navbar-nav.ml-auto {
        background-color: #343a4069;
        padding: 0 44px 44px 44px;
        display: inline-block;
    }
    ul.navbar-nav.ml-auto {
        padding: 25px;
    }
    .free{
        display: none;
    }
    a.nav-link {
        font-weight: bold;
    }
    .logo{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row: 1fr;
    }
    .first{
        grid-column: 1/2;
        grid-row: 1/2;
    }
.second{
    grid-column: 2/4;
    grid-row: 1/2;
}
.navbar-toggler {
    padding: .75rem .75rem;
}
}