@import url('https://fonts.googleapis.com/css?family=Roboto');

.home{
    font-family: 'Roboto', sans-serif;
    margin:0px;
    margin-top:85px;
}
.free-trial {
    text-align: center;
}

.free-trial a{
    background-color: #F07422;
    color: white;

}

h1{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
    
}

h2{
    font-size: 1.2rem;
    text-align: center;
}

.home p{
    font-size: 1rem;
}

.row.featurette{
    padding: 33px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2rem;
    margin: 0;
    text-align: center;

}
.row.featurette p{
    text-align: center;
}
.row.featurette img{
    border-radius: 25px;
}
.blue{
    background-color: #ddf0f2;
}

.data{
    align-self: center;
}

.carousel-item .slider2 img{
    object-fit: contain;
    object-position: top;
}
.img-fluid {
    max-width: 80%;
    height: auto;
}

.overlap{
    background-color: #0000004f;
    color: white;
    font-weight: bolder;
    width: 25%;
    position: absolute;
    top: 85px;
    right: 0px;
}
.overlap p{
    font-size: 2rem;
    text-align: center;
    padding: 10px;
}
.free-home{
    display: none;
}
@media screen and (max-width:990px){
    .free-home{
        display: block;
    }
}
@media screen and (max-width:768px){
    .row.featurette{
        display: block;
    }

    .overlap{
        display: none;
    }

    img.d-block.w-100{
        height: 33vh !important;
    }



    
}