button.btn{
    color:white;
}
img{
    width:25px;
}

table,tr,td, thead,tbody{
    border:1px solid black;
}


tr:first-child td {
    border-top: 1px solid black;
  
}

button.btn.btn-md{
    background-color: #f0904f;

}
footer.footer.p-2 {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.table{
    overflow-x: auto;
    margin:30px 0px;
}