@import url('https://fonts.googleapis.com/css?family=Roboto'); 

body{
    font-family: 'Roboto', sans-serif;

}


button.btn{
    color:white;
}
img{
    width:25px;
}

table,tr,td, thead,tbody{
    border:1px solid black;
}


tr:first-child td {
    border-top: 1px solid black;
  
}

button.btn.btn-md{
    background-color: #f0904f;

}
.view{
    display: grid;
    min-height: 100vh;
}