@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    font-family: 'Roboto', sans-serif;

}

img{
    width:25px;
}

.container{
    font-family: 'Roboto', 'sans-serif';
    position: relative;
}
button.btn.btn-md.btn-outline-secondary {
    margin: 11px;

}

.week {
    text-align: center;
    margin-bottom: 22px;
}
button.btn.btn-md {
    background-color: #f0904f;
    color: white;
    margin-bottom: 22px;
    margin-right: 10px;
    margin-top: 31px;

}

a.blog-header-logo.text-dark.font-weight-bold {
    margin: 0 15px 0 15px;
}


table, th, td, tr, thead{
    border: 1px solid black;

}


tr:first-child th{
    background-color: #E0E0E0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}



tr:last-of-type{
    background-color: #E6BA9D;

}
tr td:first-of-type:not(.hours){
    background-color: #E0E0E0;

}

td img{
    width:40px;
    border-radius: 50%;
    height:40px;
    object-fit: cover;
}

.table td, .table th{
    text-align: center;
    vertical-align:middle;
}

 span{
     text-align: center;
     vertical-align: center;
     background-color: #E6BA9D;
     margin-top:10px;
     padding: 10px;
     color: white;

 }
 body{
    /* display: grid; */
    /* min-height: 100vh; */
}

 tr:first-child th.position{
     color: white;
     background-color:  #686868;
     border-top: 1px solid black;
     border-bottom: 1px solid black;
 }
 .container.ng-scope {
    /* display: grid; */
    /* min-height: 100vh; */
}

 .table{
   margin-bottom: 0;
   margin: 0;
 }

 .tableDiv{
  overflow: hidden;
  position: relative;
  width: 100%;
 }

 .loading{
  background-color: rgba(122, 196, 204, 0.3);
  z-index: 10;
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
 }

 .loading .image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    margin:-43px 0 0 -100px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
  }
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.positionSchedule button{
  margin-top: 1rem;
}
.view
{

    /* display: grid; */
    /* min-height: 100vh; */
}
.text-center{
    margin:20px;
}