
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    font-family: 'Roboto', sans-serif;

}
button.btn.btn-md{
    background-color: #f0904f;
    color:white;
}
img{
    width:25px;
}

footer.footer.p-2 {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

button.btn.btn-lg{
    background-color: #f0904f;
    color:white;
}
table,tr,td, thead,tbody{
    border:1px solid black;
}