
@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    font-family: 'Roboto', sans-serif;

}

ul li:hover{
  background-color: #7ac4cc;
}

button.btn.btn-md{
    background-color: #f0904f;
    color:white;
}
img{
    width:25px;
}
table,tr,td, thead,tbody{
    border:1px solid black;
}
footer.footer.p-2 {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
table{
    /* display:block; */
    overflow-x: auto;
}









td img{
    width: 25px;
    margin-right: 10px;
}
td.profile {
    margin: 0;
    padding: 6px;
}

table,tr,th,td, thead{
    border:1px solid black;
}

tr:first-child td{
    border-top: 1px solid black;
}

table.table th,td{
    border: 1px solid black;
}
